[access]
	inheritFrom = releng
[project]
	description = Packer provisioning and templates that are commonly used across Linux Foundation managed projects
[access "refs/*"]
	read = group GitHub Replication
	read = group Gitlab Replication
	owner = group saml/lf-gerrit-releng-common-packer-committers
[access "refs/heads/*"]
	label-Verified = -1..+1 group Project Owners
